{% extends 'base_layout.html' %}

{% block body %}



  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Seach Bands</h1>
      <h2>to bands korea girl group</h2>
      

      <form action="forms/notify.php" method="post" role="form" class="php-email-form">
        <div class="row no-gutters">
          <div class="col-md-6 form-group pr-md-1">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Bands" required>
          </div>
          
        </div>

        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your notification request was sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">search </button></div>
      </form>
    </div>
  </section><!-- End Hero -->

  {% endblock %}