<header id="header">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><span>GIRL GROUP TH</span></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <div class="contact-link float-right">
        <a href="/home" class="scrollto">Search name</a>
        <a href="/band" class="scrollto">Search Bands</a>
        <a href="/year" class="scrollto">Search Year</a>
        <a href="/machine" class="scrollto">Game</a>
      </div>

    </div>
  </header><!-- End #header -->